

<div class="col-md-4">
	<article id="post-{{ post.id }}" class="homecard">
		{% block content %}
			<div class="homecard-tease-image">
				<a href="{{ post.link }}" title=""><img class="featured-image" src="{{ post.thumbnail.src('hero') }}""></a>
			</div>
			{# <div class="article-meta">
				{{post.type}}
			</div> #}
			<div class="excerpt">
				<h5 class="post-title"><a href="{{ post.link }}" title="" rel="bookmark">{{ post.title }}</a></h5>
				<p>{{ post.excerpt({ words: 100, read_more: false }) }}</p>
				<a href="{{ post.link }}" class="read-more btn btn-sm btn-secondary" title="">read more</a>
			</div>
			{# <div class="home-social">
				{{ function('fx_add_social_links', post.ID) }}
			</div> #}
		{% endblock %}

	</article>
 </div>
